@import url("https://fonts.googleapis.com/css2?family=Raleway:wght@600&display=swap");


@font-face {
  font-family: 'BinancePlex';
  font-display: swap;
  src: url('https://binance.com/bp/BinancePlex-SemiBold.woff2') format('woff2'),url('https://binance.com/bp/BinancePlex-SemiBold.otf') format('opentype');
}


:root {
  color-scheme: light dark;
  font-synthesis: none;
  text-rendering: optimizeLegibility;
  -webkit-font-smoothing: antialiased;
  -moz-osx-font-smoothing: grayscale;
  -webkit-text-size-adjust: 100%;
  --bg-color: #181a1c;
  --font-color: #fcd535;
}

body {
  color: #fad12f;
  margin: 0px;
  background-color: var(--bg-color);
  color: var(--font-color);
  min-height: 100vh;
  /* font-family: "Raleway", sans-serif; */
  font-family: BinancePlex, Arial,sans-serif!important

}

@media (prefers-color-scheme: light) {
  :root {
    color: #0b0e11;
    background-color: #ffffff;
  }
}

@media (prefers-color-scheme: dark) {
  :root {
    background-color: var(--bg-color);
    color: var(--font-color);
  }
}
