@import url("https://fonts.googleapis.com/css2?family=Raleway:wght@600&display=swap");

:root {
  color-scheme: light dark;
  font-synthesis: none;
  text-rendering: optimizeLegibility;
  -webkit-font-smoothing: antialiased;
  -moz-osx-font-smoothing: grayscale;
  -webkit-text-size-adjust: 100%;
  --bg-color: #181a1c;
  --font-color: #fcd535;
}

body {
  color: #fad12f;
  margin: 0px;
  background-color: var(--bg-color);
  color: var(--font-color);
  min-height: 100vh;
  font-family: "Raleway", sans-serif;
}

@media (prefers-color-scheme: light) {
  :root {
    color: #0b0e11;
    background-color: #ffffff;
  }
}

@media (prefers-color-scheme: dark) {
  :root {
    background-color: var(--bg-color);
    color: var(--font-color);
  }
}
